# No enviar al contexto de build.
node_modules
.next
out
dist
build
.env
.env.local
.env.development
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Git / IDE
.git
.gitignore
.vscode
.idea

# Macos / Windows
.DS_Store
Thumbs.db

# Logs
*.log
logs/
