# Dependencias
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Build
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/
.DS_Store

# Coverage
coverage/
